.apod-container[b-p8141ciarm] {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "picture control"
    "explanation explanation";
    gap: 1em;
}

#pod[b-p8141ciarm] {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    grid-area: stack;
}

.picture-title-container[b-p8141ciarm] {
    display: grid;
    grid-template-areas: "stack";
    border-radius: 1em;
    place-items: end;
    max-width: 100%;
    grid-area: picture;
}

#title[b-p8141ciarm] {
    display: flex;
    grid-area: stack;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    height: max-content;
    width: 100%;
    height: 15%;
    margin: 0;
}

.control-container[b-p8141ciarm] {
    grid-area: control;
    text-align: center;
}

.explanation-container[b-p8141ciarm] {
    grid-area: explanation;
}

#find-apod-button[b-p8141ciarm] {
    width: 100%;
    margin-bottom: 1em;
    margin-top: 1em;
}

#save-apod-button[b-p8141ciarm] {
    width: 100%;
}

#date-selector[b-p8141ciarm] {
    margin-top: 1em;
}