.apod-table[b-6jkqzb7ud8] {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px (0, 0, 0, 0.15);
    width: 100%;
}

.apod-table thead tr[b-6jkqzb7ud8] {
    background-color: rgb(1, 126, 113);
    color: white;
    text-align: left;
    font-weight: bold;
}

.apod-table th[b-6jkqzb7ud8], .apod-table td[b-6jkqzb7ud8] {
    padding: 12px 15px;
}

.apod-table tbody tr[b-6jkqzb7ud8] {
    border-bottom: 1px solid #dddddd;
}

.apod-table tbody tr:nth-last-of-type(even)[b-6jkqzb7ud8] {
    background-color: #f3f3f3;
}

.apod-table tbody tr:last-of-type[b-6jkqzb7ud8] {
    border-bottom: 2px solid rgb(1, 126, 113)
}

.apod-table tbody tr:hover[b-6jkqzb7ud8] {
    background-color: #f5f3f3
}
